<html>
    <head>
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
        <title>Torneo de bandas - Descubrí música jugando</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="fonts/Silkscreen-fontfacekit/stylesheet.css" type="text/css" media="all" />

        <script type="text/javascript">
            var baseURILayout = "http://www.comunidadfusa.com";
            var baseURIHashLayout = "http://www.comunidadfusa.com";
            var url_fusa_home = "http://www.comunidadfusa.com";
        </script>
        <script type="text/javascript" src="js/sfJQueryUIPlugin/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/jquery-simplemodal/jquery.simplemodal.1.4.2.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.js"></script>
    </head>
    <body>
        <div class="contenedor">
            <div class="cabeceraPosiciones">
                <img src="images/juegos/torneo-de-bandas/posiciones.jpg"/>
            </div>
            <div id="ranking">
                <ul class="nav nav-tabs"  role="tablist">
                    <li  class="active"><a href="#bandas" aria-controls="bandas" role="tab" data-toggle="tab">Bandas</a></li>
                    <li><a href="#canciones" aria-controls="canciones" role="tab" data-toggle="tab">Canciones</a></li>
                    <li><a href="#jugadores" aria-controls="jugadores" role="tab" data-toggle="tab">Jugadores</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bandas">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="canciones">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="jugadores">
                    </div>
                </div>
            </div>
        </div>

        <script id="templateBandas" type="text/html">
            {{for bandas}}
            <div id="puestoN">
                <div id="puestoNumero" class="colorFusa">#{{:posicion}}</div>
                <div id="imagenBanda" class="imgPuestos">
                    <a href="http://www.comunidadfusa.com/bandas/{{:banda.url_fusa}}" target="_blank">
                        <img title="{{:banda.nombre}}" src="http://www.comunidadfusa.com/{{:banda.avatar}}">
                    </a>
                </div>
                <div id="nombreBanda">
                    <a href="http://www.comunidadfusa.com/bandas/{{:banda.url_fusa}}" target="_blank">{{:banda.nombre}}</a>
                </div>
                <div id="cantidadVotos">{{:puntos}} puntos</div>
            </div>
            {{/for}}
        </script>

        <script id="templateCanciones" type="text/html">
            {{for canciones}}
            <div id="puestoN">
                <div id="puestoNumero" class="colorFusa">#{{:posicion}}</div>
                <div id="imagenBanda" class="imgPuestos">
                    <a href="http://www.comunidadfusa.com/bandas/{{:banda.url_fusa}}" target="_blank">
                        <img title="{{:banda.nombre}}" src="http://www.comunidadfusa.com/{{:banda.avatar}}">                   
                    </a>
                </div>
                <div id="nombreBanda">
                    <a href="http://www.comunidadfusa.com/bandas/{{:banda.url_fusa}}" target="_blank">{{:banda.nombre}}</a>
                </div>
                <div id="nombreTema">{{:audio.nombreTema}}</div>
                <div id="cantidadVotos"><img src="images/juegos/torneo-de-bandas/mini_voto.png"> {{:puntos}} puntos</div>
            </div>
            {{/for}}
        </script>

        <script id="templateJugadores" type="text/html">
            {{for jugadores}}
            <div id="puestoN">
                <div id="puestoNumero" class="colorFusa">#{{:posicion}}</div>
                <div id="imagenBanda" class="imgPuestos">
                    <a href="http://www.comunidadfusa.com/perfil/{{:usuario.url_perfil}}" target="_blank">
                        <img title="{{:usuario.apodo}}" src="{{:usuario.avatar}}">
                    </a>
                </div>
                <div id="nombreBanda">
                    <a href="http://www.comunidadfusa.com/perfil/{{:usuario.url_perfil}}" target="_blank">{{:usuario.apodo}}</a>
                </div>
                <div id="cantidadVotos">{{:puntos}} puntos</div>
            </div>
            {{/for}}
        </script>

        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/posiciones.js" type="text/javascript"></script>
        <script src="js/lib/jsrender.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            posiciones.init();
        </script>
    </body>
</html>
