/*******************************************************************************
   Comunidad~fusa.com.ar
*******************************************************************************/
body {
    width: 100vw;    
    background-color: #FFF;
    max-height: 100vh;
}

.row {
    max-width: 100vw;
}

.tagline {
    width: 100vw;
}

.tagline img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#elegiGanador img,
#escucha img{
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
}

#elegiGanador img {
    display: none;
}

#escucha img {
    display: block;
}

.login{
    text-align: center;
}

.rounded{
    border-radius: 500px;
}
.login .form-control::-webkit-input-placeholder {
    text-align: center;
}

.login .form-control {
    border: 1px solid #ccc;
    height: 40px;
    text-align: center;
}
.login .form-group {
    margin: 20px;
}

.contenidoDelTorneo{
    text-align: center;
    background: #FFF;
    font-family: "SilkscreenNormal", sans-serif;
}

.home .cabecera img{
    width:16vw;
}
.home .cabecera .logo {
    width:62vw;
    margin-left: auto;
    margin-right: auto;
}

.contenedorPartido .imagen-cabecera {
    width:22vw;
    height:12vh;
    right: 20px;
    position: absolute;
    padding-bottom: 5vh;
}

.contenidoEmpate #partido-opciones {
    position: absolute;
    padding-left: 0;
    bottom: 3vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contenidoGanador  #partido-opciones {
    position: absolute;
    bottom: 3vh;
}

.contenidoGanador #partido-opciones img {
    margin-left: 4vw;
}

.home #partido-opciones img {
    width: 60vw;
}

#partido-opciones img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.remeraJugador {
    width: 36vw;
}


body{
    margin:0px;
    padding:0px;
}

.contenedor.home, .contenedor.login {
    padding:15px 10px;
}

.contenedor h2{
    color: orange;
}

#btReglas {
    text-decoration:none;
    background:url("../images/juegos/torneo-de-bandas/btReglas01.jpg");
    cursor:pointer;
    float:right;
    margin:155px 19px 0px 0px;
    width:123px;
    height:52px;
}
#btReglas:hover{
    background:url("../images/juegos/torneo-de-bandas/btReglas02.jpg");
}

#btNuevoPartido img,
#btVerPosiciones img{
    text-decoration:none;
    cursor:pointer;
    width:50vw;
    height:10vh;
}

.btPlay {
    width:60px;
    float:right;
    margin:0px 5px 0px 0px;
    display:none;
}

#reloadPlayer2,
#pausePlayer2,
#reloadPlayer1,
#pausePlayer1{
    width:60px;
    top: 5vh;
    right: 5vw;
    display:none;
}


#nextPlayer1,
#stopPlayer2{
    padding-top: 10px;
    width:50px;
    top: 5vh;
    left: 5vw;
    visibility: hidden;
}
/*#btVerPosiciones {
    text-decoration:none;
    background:url("../images/juegos/torneo-de-bandas/btPosiciones01.jpg");
    width:550px;
    height:60px;
    cursor:pointer;
}
#btVerPosiciones:hover{
    background:url("../images/juegos/torneo-de-bandas/btPosiciones02.jpg");
}*/
.tagline img {
    height: 18vh;
}
/* Jugadores */

#jugadores{
    width:100vw;
    padding:0;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    clear: both;
}
#player02, #player01{
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    display:inline-block;
    vertical-align: top;
}

.ganadorLocal {
    padding-left: 8vw;
}

.ganadorVisitante {
    padding-left: 8vw;
}

.ganadorLocal img, .ganadorVisitante img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.empate {
    padding-left: 5vw;
}



#elegirResultado{
    width:100vw;
    height:100px;
    color:#666666;
    font-size:14px;
    text-align:center;
    display: none;
}

#resultadoPuntaje{
    margin:0 120px;
}

#elegirGanador, #elegirEmpate{
    width:60px;
    height:80px;
    cursor:pointer;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    display:none;
}
#elegirGanador:hover, #elegirEmpate:hover{
    background-color:#e1eeff;
    box-shadow:  0 1px 1px 0 rgba(0,0,0,.2);
    filter: none;
    -webkit-filter: grayscale(0%);
    border-bottom:#cfcfcf 1px solid;
}
/* Resultado Empate */
.igual{
    width:10vw;
    height:20vh;
    background: no-repeat center center url("../images/juegos/torneo-de-bandas/empate.png");
    margin:0px 20px;
    display:inline-block;
}

#resultadoPlayer02, #resultadoPlayer01{
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    width:50vw;
    height:50vh;
    display:inline-block;
    cursor:pointer;
    border-bottom:#cfcfcf 1px solid;
    background-color:#e1eeff;
    margin: 0 auto;
    position: relative;
}

.contenidoGanador #resultadoPlayer01 img{
    max-height: 95%; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border:#d6d6d6 1px solid;
    margin-top:1%;
}

.contenidoEmpate #resultadoPlayer02 img, .contenidoEmpate #resultadoPlayer01 img{
    height: 33vh; 
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border:#d6d6d6 1px solid;
    margin-top:1%;
    max-width: 28vw;
}
#puntaje1{
    position: absolute;
    bottom: 2vh;
    left: 5vw;
    width:80px;
    height:60px;
    background: url("../images/juegos/torneo-de-bandas/puntaje1.png");
}
#puntaje12{ 
    position: absolute;
    bottom: 2vh;
    width:80px;
    height:60px;
    background: url("../images/juegos/torneo-de-bandas/puntaje1.png");
    right: 5vw; 
}
/* resultado Ganador */
.ganador1{
    margin-left:210px;
}
#puntaje2{
position: absolute;
    bottom: 0vh;
    width: 17vw;
    height: 18vh;
    background: url(../images/juegos/torneo-de-bandas/puntaje2.png);
    background-size: contain;
    right: 0vw; 
}

.btVerMas {
    color:#f5f5f5;
    font-size:20px;
    font-weight:bold;
    padding:8px 24px;
    text-decoration:none;
    width:500px;
    height:25px;
    border-color:#3a77a4;
    background:#5393c2;
    background: -moz-linear-gradient(top, #5393c2 40%, #3a77a4);
    background: -webkit-linear-gradient(top, #5393c2 40%, #3a77a4);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5393c2', endColorstr='#3a77a4');
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
    text-align:center;
    margin:10px 120px 0px;
    cursor:pointer;
    float:left;
}
.btVerMas:hover{
    background:#70aedd;
    background: -moz-linear-gradient(top, #70aedd 40%, #69a4d0);
    background: -webkit-linear-gradient(top, #70aedd 40%, #69a4d0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70aedd', endColorstr='#69a4d0');
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
    box-shadow:  0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
}

#jugarPartido, #nuevoPartidoTorneo {
    margin-bottom: 20px;
}

img {
    border: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #005499;
}
a:hover {
    text-decoration: underline;
}

/* nombre de banda + tema */

.nombreGanador{
    padding:5px;
    height: 40vh;
    text-align:center;
    display: inline-block;
    width: 40vw;
    vertical-align: top;
    padding-top: 10vh;
}
.nombreBandaGanadora{
    font-size:26px;
    text-align:center;
    font-weight:bold;
    color:#006699;
}
.nombreTema{
    font-size:18px;
    text-align:center;
    color:#666666;
}

#jugadores.empate #resultadoPlayer01, #jugadores.empate #resultadoPlayer02{
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    width:30vw;
    height:35vh;
    display:inline-block;
    cursor:pointer;
    border-bottom:#cfcfcf 1px solid;
    background-color:#e1eeff;
    margin: 0 auto;
}

#jugadores.empate .nombreGanador {
    padding:10px 18px;
    height: 10vh;
    text-align:center;
    display: inline-block;
    width: 43vw;
    float: left;
}

#jugadores.empate .nombreBandaGanadora {
    font-size: 18px;
}

/* posiciones */


#tabs-Banda,
#tabs-Tema,
#tabs-Usuarios {
    padding: 15px 0!important;
}

#puestoN{
    height:110px;
    display:block;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    padding:5px 8px;
    border-bottom:#e0e0e0 1px solid;
    text-align: left;
    margin: 10px 0!important;
}
#puestoN:hover{
    background-color:#e1eeff;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}
#imagenBanda{
    float:left;
    padding:5px;
    margin:3px;
    z-index: 1000;
}
.imgPuestos img{
    width:60px !important;
    height:60px !important;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #d0d0d0;
}
#puestoNumero{
    font-size:60px !important;
    color:#989898;
    float:left;
    display:inline;
    margin-top:8px;
}
#nombreBanda{
    font-size: 24px !important;
    font-weight: bold !important;
    position: relative;
    top: 5px;
    color: #373737;
    display: inline;
}
#nombreTema{
    position:relative;
    top:10px;
    left:10px;
    font-size: 14px !important;
    color:#666666;
    padding:2px 0px;
}
#cantidadVotos{
    position:relative;
    top:10px;
    left:10px;
    font-size: 14px !important;
    color:#999999;
    height:20px !important;
}
#cantidadVotos img{ vertical-align:bottom;}
#compartir{
    font-family:Helvetica !important;
    font-size: 12px !important;
    margin:4px 10px;
    position:relative;
    left:150px;
    top:-11px;
}
.colorFusa {
    color: #ff6600 !important;
    font-weight: bold;
}

div#cargando {display: none;}
div#cargando, .cargando {
    border: 1px solid #666;
    width: 120px;
    height: 120px;
    top: 30%;
    margin-top: 0;
    padding-top: 7px;
    padding-left: 15px;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    border-radius: 0.7em;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    text-align: center;
    background: #fff url('../images/iconos/cargandoFusero.gif') no-repeat 50% 50%;
    position: fixed;
    _position: absolute;
    left:42%;
    z-index: 5000;
}

/** basic style sets **/

#clock-ticker { 
    width:5vw;
    height:5vh;
    right: 30px;
    position: absolute;
    display: none;
}
#clock-ticker .block { 
    /*    position: relative; 
        color: #000; 
        font-weight: bold; 
        margin-left: 230px; 
        margin-top: -18px;*/
}

#player01 #clock-ticker .block { 
    color: #FF8C00; 
}

#clock-ticker .block .flip-top { 
    width: 88px; 
    height: 39px; 
    line-height: 75px; 
    font-size: 30px; 
}
#clock-ticker .block .flip-btm { 
    width: 88px; 
    height: 40px; 
    text-align: center; 
}

#clock-ticker .block .label { color: #fbfbfb; font-weight: bold; font-size: 14px; text-transform: uppercase; width: 88px; line-height: 35px; text-align: center; font-family: "Calibri", Arial, sans-serif; text-shadow: 1px 1px 0px #333; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

/* Footer */
#bloqueInferior{
    position:relative;
    top: 0;
    clear: both;
}
#bloqueInferior{
    background-color:#d5e7f4;
    height:60px;
    width:100%;
    text-align:center;
    color:#8b8b8b;
    font-size:16px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top: 40px;
}
#redesSocialesPreHome{
    width:890px;
    height:60px !important;
    max-height:60px !important;
    position:relative;
    left:50%;
    margin-left:-500px;
    margin-top:-35px;
}
#redesSocialesPreHome a{
    float:right;
    margin-right:3px;
    opacity:0.4;
    filter:alpha(opacity=40);
}
#redesSocialesPreHome a:hover{
    opacity:1;
    filter:alpha(opacity=100);
}


#miniBarraMenu{
    padding:5px 0 0 0 !important;
}

#reglasDelJuego {
    display: none;
}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {color:#000; background-color:#FFF; border:4px solid #444; padding:12px; font-size:15px; height:585px; width: 750px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a {color:#aaa;}
#simplemodal-container a.modalCloseImg {background:url("../images/iconos/x.png") no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h2 {color:#84b8d9; margin-top: 0px; }
#simplemodal-container {text-align: left;}

.barraDeUsuario {
    font-family: "SilkscreenNormal", sans-serif;
    font-size: 22px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}
.torneo-puntos-usuario {
    margin-left: 500px;
    text-align: left;
}

.datos-usuario {
    margin-top: 8vh;
}

.cantidadMonedas, .nombrePlayer {
    display: inline-block;
    color: blue;
}

/* Opciones fusa tema ganador */
.ganador-opciones {
    margin: 10px 0;
    text-align: center;
}
.agregar-lista {
    position: relative;
    margin: 0 auto;
    width: 40px;
}
.agregar-lista:hover ul {
    display: block;
}
.agregar-lista ul {
    list-style: none;
    position: absolute;
    border: 1px solid #EEE;
    padding: 0;
    background: #FEFEFE;
    text-align: left;
    width: 150px;
    margin: 0;
    bottom: 0;
    left: 30px;
    display: none;
}
.agregar-lista ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.agregar-lista ul li:hover {
    background-color: #F0F0F0;
}
#mensaje-lista {
    position: absolute;
    width: 300px;
    border: 1px solid mediumturquoise;
    background-color: lightskyblue;
    color: lightyellow;
    padding: 10px;
}

.notas-musicales img {
    width: 35px;
    height: 30px;
    visibility: hidden;
}

.versus {
    padding-top: 20vh;
}

#reloadPlayer2,
#pausePlayer2{
    position: absolute;
    width:55px;
    top: 5vh;
    right: 5vw;
    display:none;
}

#reloadPlayer1,
#pausePlayer1{
    position: absolute;
    width:55px;
    top: 5vh;
    left: 5vw;
    display:none;
    margin: 0;
}

.contenedorEmpate {
    padding-top: 18vh;
}

/************** POSICIONES *************************/
.cabeceraPosiciones img {
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#ranking {
    text-align: center;
    margin: 0 30px;
    background: none!important;
    border: 0!important;
    font-family: "SilkscreenNormal", sans-serif;
}

#ranking ul li a {
    font-size: 18px;
}
/************** FIN POSICIONES *************************/
